<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Winkas</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <!--<li><a href="/notes">Notes</a></li>
                <li><a href="/newnote">New Note</a></li>-->
				<!--<li><a href="/weblog">Weblog</a></li>
                <li class="active"><a href="/intlog">Intlog</a></li>-->
                
                {% if (viewbag.isAuthenticated) %} <li><a href="/weblog">Weblog</a></li> {% endif %}   
                <!--<li><a href="/weblog">Weblog</a></li>-->
                
                {% if (viewbag.isAuthenticated) %} <li class="active"><a href="/intlog">Intlog</a></li> {% endif %}
                <!--<li><a href="/intlog">Intlog</a></li>-->
                
                {% if (viewbag.isAuthenticated) %} <li><a href="/profile">Profile</a></li> {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container-fluid">

    <div class="text-center">
        <h2>Winkas Internals</h2>        
    </div>


    <div>
        <!--<h2>Latest Notes</h2>-->

        <div class="container-fluid">
			<!--<div class="row">
				<div class="col-md-3">
					<form>
						<button type="submit" class="btn btn-default">Reload</button>
					</form>
			    </div>
				<div class="col-md-3">
					Loaded at	
			    </div>
			</div>	-->
			<div class="row">
            <div class="col-md-12">				
				<table class="table">
						<thead>
						  <tr>
							<th>IId</th>
							<th>GIId</th>
							<th>Class</th>
							<th>Method</th>						    
							<th>Time</th>
						  </tr>
						</thead>
						<tbody>
							{% for item in items %}
						  <tr>
							<td>{{ item.InvocationId }}</td>
							<td>{{ item.GlobalInvocationId }}</td>
							<td>{{ item.Class }}</td>
							<td>{{ item.Method }}</td>							
							<td>{{ item.TimeElapsed }}</td>					
						  </tr>
						    {% endfor %}
						  
						</tbody>
					</table>
            </div>

        </div>
    </div>
	</div>
</div><!-- /.container -->

</body>
</html>